.App {
  margin: 0;
  padding: 0;
}

body{
  /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
  background: linear-gradient(90deg, #49a09d, #5f2c82);
}

.header{
  width: 100%;
  height:80px;
  display: block;
  background: rgba(255,255,255,0.1);
}

.inner-header{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo{
  height: 100%;
  display: table;
  float:left;
}

.logo h1{
  color:white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

ul{
  list-style: none;
  text-decoration: none;
}

.navigation{
  float: right;
  height: 100%;
  margin: 0;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;

}


.navigation a:last-child{
  padding-right: 0;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
}

.home{
  display: flex;
}

.img{
  display: block;
  padding: 50px;
  margin: 50px auto;
  right: 0;
}

.description{
  padding: 50px;
  margin-top: 50px;
}

.description h1{
  color: white;
}

.description p{
  color: white;
  margin: auto;
}

.container {
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-50%);
  padding-bottom: 50px;
}

.container h1{
  color: white;
}

table {
	/* width: 800px; */
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
  background-color: #55608f;
}

.transfer {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
  background-color: #55608f;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.transfer-btn{
  /* position: relative;
  left: 50%;
  transform: translate(-50%); */
  padding: 20px;
  margin: auto;
}

.transfer .title{
  font-size: 35px;
  font-weight: 500;
}

.transfer select{
  height: 30px;
  width: 250px;
  border-radius: 5px;
}

.transfer input{
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.transfer button{
  /* height: 30px; */
  padding: 5px;
}
